<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Mi Sistema</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />
    <style>
        body {
            overflow-x: hidden;
            margin: 0;
        }

    </style>
</head>
@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<body>
    <div class="layout d-flex flex-column flex-lg-row">
        <!-- Sidebar -->
        <nav class="sidebar d-none d-lg-block p-3 pt-12 pb-12">
            @await Component.InvokeAsync("Siderbar")
        </nav>

        <!-- Main section with header and content -->
        <div class="main-section flex-fill">
            <!-- Header (solo encima del contenido) -->
            <header class="top-bar m-4">
                
                    @await Component.InvokeAsync("UsuarioInfo")
              
                
            </header>     
            <!-- Main content -->
            <main class="main-content">
                @RenderBody()
            </main>
        </div>
    </div>
    <!-- Footer navbar fijo solo en móviles -->
    <footer class="d-lg-none fixed-bottom bg-white border-top">
        <div class="d-flex justify-content-around py-2">
            <a href="/Reserva" class="text-center text-decoration-none text-dark">
                <i class="bi bi-rocket-takeoff fs-5 icon-color-footer @(currentController == "Reserva" ? "active-link " : "text-secondary")"></i><br />
                <small class="@(currentController == "Reserva" ? "active-link  fw-semibold" : "text-dark")">Reservas</small>
            </a>
            <a href="/Usuario" class="text-center text-decoration-none text-dark">
                <i class="bi bi-people fs-5 icon-color-footer @(currentController == "Usuario" ? "active-link " : "text-secondary")"></i><br />
                <small class="@(currentController == "Usuario" ? "active-link  fw-semibold" : "text-dark")">Usuarios</small>               
            </a>
            <a href="/Cancha" class="text-center text-decoration-none text-dark">
                <i class="bi bi-layers fs-5 icon-color-footer @(currentController == "Cancha" ? "active-link " : "text-secondary")"></i><br />
                <small class="@(currentController == "Cancha" ? "active-link  fw-semibold" : "text-dark")">Cancha</small>
            </a>
            <a href="/Ingreso" class="text-center text-decoration-none text-dark">
                <i class="bi bi-bar-chart-line fs-5 icon-color-footer @(currentController == "Ingreso" ? "active-link " : "text-secondary")"></i><br />
                <small class="@(currentController == "Ingreso" ? "active-link  fw-semibold" : "text-dark")">Ingresos</small>
            </a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

